<!-- The Home view of the Web-Application, the default Route. -->
<!-- @author Yasien Kashef -->
<!-- @version 1.0.0 -->
<template>
  <div class="home" >
    <h1>Welcome to AIML's Publication Website</h1>
    <div class="topic-previews">
      <TopicPreview
        v-for="(topic, i) in topics"
        :topic="topic"
        :key="i"
        @click.native="routeToTopic(i)"
      />
    </div>
  </div>
</template>

<script>
/**
 * Home View of the Web-Application,
 * default route, displayed when ever a user first visits the website.
 * @author Yasien Kashef
 * @version 1.0.0
 */
import TopicPreview from "@/components/TopicPreview";

export default {
  name: "Home",
  components: {
    TopicPreview
  },
  computed: {
    topics() {
      return this.$store.state.topics;
    }
  },
  methods: {
    routeToTopic(index) {
      this.$store.commit("setCurrentTopic", index);
    }
  },
  created() {
    this.$store.commit("setCurrentTopic", -1);
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.home {
  text-align: center;

  h1 {
    margin: 30px 0;
    font-family: "Roboto Slab";
  }

  .topic-previews {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
</style>
