<!-- The Subtopic view of the Web-Application. -->
<!-- @author Yasien Kashef -->
<!-- @version 1.0.0 -->
<template>
  <div class="subtopic-view" v-if="subtopic">
    <h1 class="subtopic-name">{{ subtopic.topicName }}</h1>
    <div
      class="component"
      v-for="(component, i) in subtopicComponents"
      :key="i"
    >
      <Abstract
        v-if="component.type === 'abstract'"
        :content="component.content"
      />
      <Paragraph
        v-if="component.type === 'paragraph'"
        :content="component.content"
      />
      <Graphic v-if="component.type === 'image/gif'" :component="component" />
      <Video v-if="component.type === 'video'" :component="component" />
      <Custom v-if="component.type === 'custom'" :component="component" />
    </div>
  </div>
</template>

<script>
/**
 * Subtopic View of the Web-Application,
 * default route, displayed when ever a user links to a specific subtopic.
 * @author Yasien Kashef
 * @version 1.0.0
 */
import Abstract from "@/components/Subtopic/Abstract.vue";
import Paragraph from "@/components/Subtopic/Paragraph.vue";
import Graphic from "@/components/Subtopic/Graphic.vue";
import Video from "@/components/Subtopic/Video.vue";
import Custom from "@/components/Subtopic/Custom.vue";

export default {
  name: "Subtopic",
  components: {
    Abstract,
    Paragraph,
    Graphic,
    Video,
    Custom
  },
  computed: {
    subtopic() {
      return this.$store.state.currentSubtopic;
    },
    subtopicComponents() {
      return this.subtopic.components.filter(
        component => component.displayComponent
      );
    }
  },
  mounted() {
    this.$store.dispatch("loadCurrentSubtopic", {
      topicIndex: this.$route.query.topic,
      subtopicIndex: this.$route.query.subtopic
    });
    window.scrollTo(0, 0);
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.subtopic-view {
  .subtopic-name {
    margin: 0;
    font-family: "Roboto Slab";
    font-size: 2.5rem;
  }
}
</style>
