<!-- The Topic view of the Web-Application, the default Route. -->
<!-- @author Yasien Kashef -->
<!-- @version 1.0.0 -->
<template>
  <div class="topic-view">
    <TopicBanner :topic="topic" />
    <div id="separator"></div>
    <div id="subtopic-previews" class="subtopic-previews">
      <SubtopicPreview
        v-for="(subtopic, i) in topic.subtopics"
        :subtopic="subtopic"
        :subtopicIndex="i"
        :key="i"
      />
    </div>
  </div>
</template>

<script>
/**
 * Topic View of the Web-Application,
 * default route, displayed when ever a user links to a topic.
 * @author Yasien Kashef
 * @version 1.0.0
 */
import TopicBanner from "@/components/TopicBanner.vue";
import SubtopicPreview from "@/components/SubtopicPreview.vue";

export default {
  name: "Topic",
  components: {
    TopicBanner,
    SubtopicPreview
  },
  computed: {
    topic() {
      return this.$store.state.topics[this.$route.query.topic];
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.topic-view {
  #separator {
    margin: 20px 0 0px;
    width: 100%;
    height: 1px;
    background: rgba(15, 46, 61, 0.6);
  }

  .subtopic-previews {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;

    .subtopic-preview {
      padding-bottom: 3%;
      border-bottom: 1px solid rgba(60, 60, 60, 0.5);
      
      &:nth-child(odd) {
        padding-right: 5%;
        border-right: 1px solid rgba(60, 60, 60, 0.5);
      }

      &:nth-child(even) {
        padding-left: 4%;
      }
    }
  }
}
</style>
