<!-- Subtopic Preview for the Topic view. -->
<!-- @author Yasien Kashef -->
<!-- @version 1.0.0 -->
<template>
  <div
    class="subtopic-preview"
    v-if="subtopic.displayTopic"
    @click="routeToSubtopic()"
  >
    <span class="subtopic-thumbnail">
      <img
        :src="'data/' + subtopic.thumbnail.path"
        :style="{
          width: subtopic.thumbnail.dimensions.width,
          height: subtopic.thumbnail.dimensions.height
        }"
        alt='Please check the "thumbnailPath" for this image inside data.json'
      />
    </span>
    <h1 class="subtopic-name">{{ subtopic.topicName }}</h1>
    <h2 class="subtopic-subtitle">{{ subtopic.subtitle }}</h2>
    <button class="to-subtopic">Dive In!</button>
  </div>
</template>

<script>
export default {
  name: "SubtopicPreview",
  props: {
    subtopic: Object,
    subtopicIndex: Number
  },
  methods: {
    routeToSubtopic() {
      this.$router.push({
        path: "/Subtopic",
        query: {
          topic: this.$route.query.topic,
          subtopic: this.subtopicIndex
        }
      });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.subtopic-preview {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 1 auto;
  width: 45%;
  padding-top: 50px;
  cursor: pointer;

  .subtopic-thumbnail {
    max-height: 400px;
    text-align: center;

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }

  .subtopic-name {
    margin: 20px 0 10px;
    font-family: "Roboto Slab";
    font-size: 1.5rem;
  }

  .subtopic-subtitle {
    margin: 0 0 10px;
    font-weight: normal;
    font-size: 0.8rem;
  }

  .to-subtopic {
    align-self: flex-start;
    padding: 10px;
    border: 2px solid rgb(66, 185, 131);
    border-radius: 5px;
    outline: 0;
    color: rgb(66, 185, 131);
    background-color: white;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
  }
}
</style>
