<!-- TopicPreview for the Home. -->
<!-- @author Yasien Kashef -->
<!-- @version 1.0.0 -->
<template>
  <div class="topic-preview" v-if="topic.displayTopic">
    <div class="topic-description">
      <h2 class="topic-name">{{ topic.topicName }}</h2>
      <h3 class="topic-subtitle">{{ topic.subtitle }}</h3>
    </div>
    <span class="topic-thumbnail">
      <img
        :src="'data/' + topic.thumbnail.path"
        :style="{
          width: topic.thumbnail.dimensions.width,
          height: topic.thumbnail.dimensions.height
        }"
        alt='Please check the "thumbnailPath" for this image inside data.json'
      />
    </span>
  </div>
</template>

<script>
export default {
  name: "SubtopicPreview",
  props: {
    topic: Object
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.topic-preview {
  width: 49%;
  margin-top: 30px;
  border: 2px dashed grey;
  padding: 20px;
  transition: transform 0.5s;
  cursor: pointer;

  .topic-description {
    width: 50%;
    float: left;
    padding: 10px;
    text-align: left;
  }

  .topic-thumbnail {
    width: 50%;
    max-height: 400px;

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
    }
  }

  &:hover {
    color: rgb(66, 185, 131);
    transform: scale(1.05);
  }
}
</style>
