<!-- Topic Banner for the Topic view. -->
<!-- @author Yasien Kashef -->
<!-- @version 1.0.0 -->
<template>
  <div class="topic-banner">
    <div class="content">
      <h1 class="topic-name">{{ topic.topicName }}</h1>
      <h2 class="subtitle">{{ topic.subtitle }}</h2>
      <p class="description">{{ topic.description }}</p>
      <a class="to-subtopics" @click="scrollToSubtopics()">Show Subtopics</a>
    </div>
    <span class="thumbnail">
      <img
        :src="'data/' + topic.thumbnail.path"
        :style="{
          width: topic.thumbnail.dimensions.width,
          height: topic.thumbnail.dimensions.height
        }"
        alt='Please check the "thumbnailPath" for this image inside data.json'
      />
    </span>
  </div>
</template>

<script>
export default {
  name: "TopicBanner",
  props: {
    topic: Object
  },
  methods: {
    scrollToSubtopics() {
      var element = document.getElementById("subtopic-previews");
      window.scrollTo(0, element.offsetTop - 50);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.topic-banner {
  display: flex;
  margin-bottom: 50px;

  .content {
    width: 50%;

    .topic-name {
      margin: 20px 0;
      font-family: "Roboto Slab";
      font-size: 4rem;
    }

    .subtitle {
      font-family: "Roboto Slab";
      font-weight: normal;
      font-size: 1.5rem;
    }

    .description {
      margin-bottom: 40px;
    }

    .to-subtopics {
      padding: 10px;
      border: 2px solid rgb(66, 185, 131);
      border-radius: 5px;
      color: rgb(66, 185, 131);
      text-decoration: none;
      cursor: pointer;
    }
  }

  .thumbnail {
    width: 50%;
    max-height: 650px;
    padding-left: 50px;
    padding-bottom: 20px;
    text-align: center;

    img {
      object-fit: contain;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }

  @media (orientation: portrait) {
    flex-flow: column-reverse;

    .content {
      width: 100%;
    }

    .thumbnail {
      width: 100%;
      padding: 0;
    }
  }
}
</style>
