<!-- Image Component for a Subtopic. -->
<!-- @author Yasien Kashef -->
<!-- @version 1.0.0 -->
<template>
  <img
    :src="'data/' + this.component.content"
    :width="this.component.dimensions.width"
    :height="this.component.dimensions.height"
    alt='Please check the "content"-path for this image inside data.json of'
    :style="{ margin: this.component.center ? '0 auto' : '0' }"
  />
</template>

<script>
export default {
  name: "Graphic",
  props: {
    component: Object
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
img {
  display: block;
}
</style>
