<!-- The Main-<template> of the Publication-Website, containg all router-links to root-level views and the router-view -->
<!-- @author Yasien Kashef -->
<!-- @version 1.0.0 -->
<template>
  <div id="app" v-if="this.$store.state.status === 'ready'">
    <!-- Router Links to main topics -->
    <div class="header">
      <div class="topic-links">
        <a
          v-for="(topic, i) in topics"
          :key="topic.topicName"
          @click="changeTopic(i)"
          class="topic-link"
        >
          {{ topic.topicName }}
        </a>
      </div>
    </div>
    <!-- Current View -->
    <router-view class="view" />
  </div>
</template>

<script>
export default {
  data() {
    return {
      fetchedData: false
    };
  },
  computed: {
    topics() {
      return this.$store.state.topics;
    }
  },
  methods: {
    changeTopic(index) {
      this.$store.commit("setCurrentTopic", index);
    }
  },
  created() {
    this.$store.dispatch("loadTopics");
  }
};
</script>

<style lang="scss">
html {
  font-size: calc(0.5vw + 0.5vh + 0vmin);
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(60, 60, 60);

  .header {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: rgb(15, 46, 61);

    .topic-links {
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      max-width: 1600px;
      margin: 0 auto;
      padding: 0 64px;

      a {
        padding: 0 20px;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.7);
        text-decoration: none;
        border-left: 2px solid rgba(255, 255, 255, 0.7);
        cursor: pointer;
      }

      a:first-child {
        border-left: 0px;
      }
    }
  }

  .view {
    max-width: 1600px;
    margin: 0 auto;
    padding: 60px 6vw 16px;
  }
}
</style>
